body {
    margin: 0px;
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

:root {
    --screen-color: #e3edffcc;
    --calculator-color: #010711e7;
    --history-color: #b8d2ff8c; 
    --primary-button-color: #414040;
    --secondary-button-color: #626262;
    --acent-button-color: #476ba5;
}

body.container {
    display: grid;
    width: 100%;
    height: 100vh;
    min-height: 500px;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 20% 60% 20%;
}

header{
    grid-area: 1/1/1/4;
}

main{
    grid-area: 2/2/3/3;
}

main.container{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
}

.calculator{
    background-color: var(--calculator-color);
}

.calculator.container{
    display: grid;
    grid-template-rows: 40% 60%;
}

.screen{
    margin: 20px;
    background-color: var(--screen-color);
    border-radius: 10px;
    font-size: 100px;
    overflow-wrap: break-word;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.button-block{
    background-color: lightblue;
    padding: 20px;
    padding-top: 0;
}

.button-block.container{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px 10px;
    background-color: var(--calculator-color);
}

.button{
    border-radius: 10px;
    background-color: var(--primary-button-color);
    font-size: 25px;
    color: rgba(255, 255, 255, 0.801);
    border: none;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

.button:nth-child(-n+4){
    background-color: var(--secondary-button-color);
}

.button:nth-child(4n){
    background-color: var(--secondary-button-color);
}

.button:nth-last-child(1){
    background-color: var(--acent-button-color);
}

.history{
    background-color: var(--history-color);
    opacity: 0.3;
}

footer{
    grid-area: 3/1/4/4;
}

/* ----------- Mobile/Tablet Screens ----------- */
@media screen 
  and (max-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    
    header{
        display: none;
        background-color:aqua;
    }
    
    main{
        grid-area: 1/1/4/4;
        background-color:pink;
    }

    main.container{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
    }
    
    .button-block.container{
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px 10px;
        background-color: var(--calculator-color);
    }

    .history{
        display: none;
    }
    
    footer{
        display: none;
    }
}
